{% load static %}
<header class="header">
    <div class="container">
        <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="" style="width: 75px; height: 75px;">
            <h1>ScholarAid</h1>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}" class="active" >About</a></li> 

                {% if user.is_authenticated %}

                    {# STUDENT ROLE #}
                    {% if user.role == "student" %}
                        <li><a href="#">My Scholarship</a></li>
                        <li><a href="#">My Sponsor</a></li>
                        <li><a href="#">All Scholarships</a></li>
                        <li><a href="#">Review</a></li>
                        <li>
                            <img src="{{ user.photo.url }}" alt="Profile" class="profile-photo"
                                 style="width: 55px; height: 55px; border-radius: 50%; object-fit: cover; border: 2px solid #f4f4f4;">
                        </li>

                    {# SPONSOR ROLE #}
                    {% elif user.role == "sponsor" %}
                        <li><a href="#">Students</a></li>
                        <li><a href="#">Our Scholarships</a></li>
                        <li><a href="#">All Scholarships</a></li>
                        <li><a href="#">View Reviews</a></li>

                    {# ADMIN ROLE #}
                    {% elif user.is_superuser %}
                        <li><a href="{% url 'students_list' %}">Students</a></li>
                        <li><a href="{% url 'sponsors_list' %}">Sponsors</a></li>
                        <li><a href="{% url 'all_scholarships' %}">All Scholarships</a></li>
                        <li><a href="{% url 'all_reviews' %}">All Reviews</a></li>
                    {% endif %}

                    <li><a href="{% url 'logout_view' %}">Logout</a></li>

                {% else %}
                    <li><a href="{% url 'studreg' %}">Student Register</a></li>
                    <li><a href="{% url 'sponreg' %}">Sponsor Register</a></li>
                    <li><a href="{% url 'login_view' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
